// Colors
$base-color: #1e1e1e;
$accent-color: #985d60;
$primary-color: #4e090c;
$secondary-color: #fff5e2;

$success-color: #71dd5c;
$info-color: #cef;
$warning-color: yellow;
$danger-color: red;

$light-color: #e4e4e4;
$muted-color: #939393;
$link-color: $accent-color;

$button-bg: #fff;
$button-bg--hover: $accent-color;
$button-bg--active: darken($accent-color, 15%);
$button-border-color: $accent-color;

$button-flat-bg: $secondary-color;
$button-flat-bg--hover: darken($secondary-color, 10%);
$button-flat-bg--active: darken($secondary-color, 15%);


// Fonts
$base-font-size: 16px;
$primary-font: "proxima_nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$secondary-font: "uni_sansheavy_caps", sans-serif;


// Grid
$grid-count: 12;
$grid-gutter: 15;


// Media querys
$media-mobile-up: 480px;
$media-mobile-down: $media-mobile-up - 1;

$media-tablet-up: 768px;
$media-tablet-down: $media-tablet-up - 1;

$media-laptop-up: 1024px;
$media-laptop-down: $media-laptop-up - 1;

$media-laptop-l-up: 1280px;
$media-laptop-l-down: $media-laptop-l-up - 1;

$media-laptop-xl-up: 1440px;
$media-laptop-xl-down: $media-laptop-xl-up - 1;
