@mixin createButtonFlat() {
  display: inline-block;
  padding: 9px 20px;
  border: 3px solid transparent;
  text-align: center;
  font-family: inherit;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
  white-space: nowrap;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.button-flat {
  @include createButtonFlat();

  color: $accent-color;
  background-color: $button-flat-bg;

  &:hover,
  &:focus {
    background-color: $button-flat-bg--hover;
    outline: none;
  }

  &:active {
    background-color: $button-flat-bg--active;
  }

  &--rounded {
    border-radius: 30px;
  }
}
