.contacts {
  padding-bottom: 0;

  @media (min-width: 768px) {
    padding-bottom: 0;
  }
}

.contacts__frame {
  position: relative;

  @media (min-width: 667px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.contacts__map {
  height: 400px;

  @media (min-width: 667px) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
  }
}

.contacts__info {
  margin-bottom: 40px;
  padding: 30px;
  font-size: 18px;
  background-color: #fff;
  border: 5px solid $secondary-color;

  @media (min-width: 667px) {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-bottom: 0;
    padding: 70px;
    font-size: 16px;
    vertical-align: middle;
  }
}

.contacts__info-item {
  margin: 0;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__phones {
  a {
    color: currentColor;
    border-bottom: none;
  }
}

.contacts__work {

}

.contacts__work-off-day {
  color: $muted-color;
}
