.form-item {
  margin-bottom: 15px;
  display: block;
}

.form-label {
  display: inline-block;
  padding-bottom: 0.3em;
  vertical-align: middle;
  font-size: 0.95rem;
  cursor: pointer;
}

.form-label--required::after {
  display: inline-block;
  margin-left: 0.2em;
  color: #F44336;
  content: "*";
}

.form-control {
  width: 100%;
  padding: 13px 20px;
  font: inherit;
  font-size: 18px;
  line-height: normal;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 30px;
  box-sizing: border-box;
  outline: none;
  transition: 0.3s;

  &:hover {
    background: #edeef1;
  }

  &:focus {
    border-color: #bbb;
  }

  &::placeholder {
    color: $muted-color;
    opacity: 1;
  }
}

textarea.form-control {
  max-height: 200px;
  resize: vertical;
}

.form-submit-wrapper {
  margin-top: 1.5rem;
  text-align: center;
}

.form-submit {
  width: 100%;
  padding: 15px 5px 13px;
  font-size: 15px;
}

.form-submit:hover,
.form-submit:focus {
  // background: #1e3241;
}

.form-submit:active {
  // background: #0b1217;
}

.form-note {
  margin-top: rem(15);
  font-size: rem(15.5);
  p {
    margin-bottom: 0;
  }
}

.wpcf7-form {
  p:empty,
  br {
    display: none;
  }
}

span.wpcf7-not-valid-tip {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 10px;
  background-color: $danger-color;
  color: #fff;
  display: inline-block;
  font-size: rem(11);
}

.form-control {
  &.wpcf7-not-valid {
    border-color: $danger-color;
  }
}

.wpcf7-form-control-wrap {
  display: block;
}

.invalid {

  .form-submit {
    // background-color: $mutedColor;
  }
}

.wpcf7-response-output {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: rem(14);
  padding: 0.5em 0.7em;
  border: 2px solid;
  text-shadow: none;

  &.wpcf7-validation-errors {
    background-color: rgba($warning-color, 0.8);
    border-color: $warning-color;
    color: mix(#000, $warning-color, 60%);
  }

  &.wpcf7-mail-sent-ok {
    background-color: rgba($success-color, 0.8);
    border-color: $success-color;
    color: mix(#000, $success-color, 60%);
  }
}
