.main-nav {
  color: #fff;
  background-color: $accent-color;
}

.main-nav__inner {
  @include container();

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__list {
  @include clear-list();

  display: flex;
  flex-shrink: 0;

  & > li {
    position: relative;
    z-index: 2;

    &:hover > a {

      &::before {
        border-top-color: rgba(#000, 0.4);
        border-bottom-color: rgba(#000, 0.4);
      }
    }

    & > a {
      position: relative;
      display: block;
      padding: 16px 10px;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      letter-spacing: 0.03em;
      border-bottom: none;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 10px;
        right: 10px;
        bottom: 0;
        border-bottom: 5px solid transparent;
        transition: border-bottom-color 0.25s;
      }
    }

    &:first-child > a {
      padding-left: 0;

      &::before {
        left: 0;
      }
    }

    &:last-child > a {
      padding-right: 0;

      &::before {
        right: 0;
      }
    }
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.main-nav__button {
  @include createButtonFlat();

  font-size: 12px;
}

.sub-menu-drop {
  position: absolute;
  height: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  // transform-origin: 50% 0;
  // transform: translateY(-10px) scale(0.9);
  transition: opacity 0.25s, visibility 0s 0.25s;
  background-color: $accent-color;
  background-image: linear-gradient(to bottom, $accent-color 0.8em, rgba($accent-color, 0)),
                    // radial-gradient(ellipse at top, rgba(#000, 0.6), transparent 70%),
                    url("../../images/arrow-up.svg"),
                    linear-gradient(to top, $accent-color 0.8em, rgba($accent-color, 0)),
                    // radial-gradient(ellipse at bottom, rgba(#000, 0.6), transparent 70%);
                    url("../../images/arrow-down.svg");
  background-size: 100% 2.5em,
                   100% 1.1rem,
                   100% 2.5em,
                   100% 1.1rem;
  background-attachment: local,
                         scroll,
                         local,
                         scroll;
  background-position: top,
                       top,
                       bottom,
                       bottom;
  background-repeat: no-repeat;
  background-blend-mode: normal, overlay, normal, overlay;
  // box-shadow: 0 3px 6px rgba($base-color, 0.3);

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: rgba($accent-color, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(#111, 0.2);
    transition: background-color 0.15s;

    &:hover {
      background-color: rgba(#111, 0.5);
    }
  }
}

.main-nav__list > li:hover .sub-menu-drop {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.25s, transform 0.25s;
}

.sub-menu {
  @include clear-list();

  min-width: 300px;
  font-size: 14px;

  & > li {

    & > a {
      display: block;
      padding: 8px 16px;
      color: #fff;
      text-decoration: none;
      border-bottom: none;
      transition: 0.2s;

      &:hover {
        background-color: rgba(#000, 0.2);
      }
    }
  }
}
