.page-title {
  position: relative;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 40px;
  line-height: 1;
  font-family: $secondary-font;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: 768px) {
    padding-left: 12px;
    font-size: 80px;
    color: $secondary-color;
    text-align: left;

    &::before {
      content: attr(data-title);
      position: absolute;
      left: 0;
      bottom: -6px;
      z-index: 1;
      font-size: 30px;
      font-family: $secondary-font;
      text-transform: uppercase;
      color: $primary-color;
      pointer-events: none;
    }

    &--align-right {
      padding-right: 12px;
      text-align: right;

      &::before {
        right: 0;
        left: auto
      }
    }

  }
}

.page-content {
  @include clearfix;

  .alignleft,
  .alignright,
  .aligncenter {
    max-width: 100%;
    height: auto;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }

  img.alignleft,
  img.alignright,
  img.aligncenter {
    // border: 1rem solid $accentColorLight;
  }

  .alignleft {
    float: left;
    margin-right: 3.5rem;
  }

  .alignright {
    float: right;
    margin-left: 3.5rem;
  }

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
  }
}

@media (min-width: $media-laptop-up) {
  .page-content {

    .alignleft,
    .alignright,
    .aligncenter {
      width: 70%;
    }
  }
}
