.page-title {
  @include container();

  margin-top: 0;
  margin-bottom: 60px;
  font-size: 48px;
  color: #3b3b3b;

  @media (min-width: $media-laptop-up) {
    max-width: 800px !important;
  }

  @media (min-width: $media-laptop-xl-up) {
    max-width: 1000px !important;
  }
}

.page-intro {
  margin-bottom: 60px;
  font-size: rem(24);
  color: #a8a9ac;
}

.page-content {
  @include clearfix;

  font-size: rem(18);
  line-height: 1.65;

  .container {
    @include container();

    @media (min-width: $media-laptop-up) {
      max-width: 800px !important;
    }

    @media (min-width: $media-laptop-xl-up) {
      max-width: 1000px !important;
    }
  }

  h2,
  h3 {
    color: #3b3b3b;
  }

  p {
    margin-bottom: 1.65em;
  }

  .alignleft,
  .alignright,
  .aligncenter {
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  // .alignleft {
  //   float: left;
  //   margin-right: 3.5rem;
  // }

  // .alignright {
  //   float: right;
  //   margin-left: 3.5rem;
  // }

  // .aligncenter {
  //   margin-left: auto;
  //   margin-right: auto;
  //   text-align: center;
  //   display: block;
  // }
}


