.site-footer {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
}

.site-footer__container {
  @include container();
}

.site-footer__logo {
  margin-bottom: 10px;
  text-align: center;
}

.site-footer__copy {
  max-width: 350px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  text-align: center;
}
