.socials {
  display: flex;
}

.socials__item {
  display: inline-block;
  margin-right: 0.7em;
  width: 33px;
  height: 33px;
  text-decoration: none;
  vertical-align: middle;
  opacity: 0.9;
  transition: opacity 0.25s;

  &:hover {
    opacity: 1;
  }

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  width: 32px;
  height: 32px;
}
