.topbar {
  @include container();

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.topbar__logo {

}

.topbar__logo-link {

}

.topbar__logo-image {

}

.topbar__info {

}

.topbar__info-list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
}

.topbar__info-item {
  display: flex;
  align-items: center;
  margin-right: 50px;
  font-size: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.topbar__info-icon {
  margin-right: 20px;
  color: $accent-color;
  fill: currentColor;
}

.topbar__info-text {

  p {
    margin: 0;
  }
}

.topbar__info-off-day {
  color: $muted-color;
}

.topbar__phones {

}

.topbar__phone {
  display: inline-block;
  margin-right: 10px;
  color: currentColor;
  border-bottom: none;

  &:last-child() {
    margin-right: 0;
  }
}

.topbar__trigger-callback {
  @include dotted-link();
}
